<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls Blog</title>
    <head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog,/a></h1>
            <h2> Written by Brenda Marquez</h2>
        <header>

        <article>
            <time>published: 14.06.2014, 12:14</time>
            <h2><a href="">My first post</a></h2>
            <p> Complete the sections listed below. Follow along with each action and pay attention to the OS/Device you are using, as there are instructions for multiple types of devices /operating systems (Mac/PC/Linux).
            Deploy, Django URLS, Django Views - time to create!, Introduction to HTML, Django ORM </p>
        </article>
    </body>
</html>


